/* Reset básico de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1, h2 {
    color: #2c3e50;
}

section {
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid {
    display: flex;
    justify-content: space-between;
}

.item {
    background-color: #ecf0f1;
    padding: 1rem;
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #3498db;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
